.menu_style {
  border-bottom: 1px solid #666;
  padding: 5px 10px;
  // display: flex;
}

.menu-message {
  height: 32px;
  line-height: 32px;
}

.menu-button{
  margin-left: 4px;
  margin-right: 4px;
  color: #000;
  outline: 0;
  border: none;
  padding: 3px 10px;
  border-radius: 2px;
  background-color: #FF2645;

  &:hover {
    color: #eee;
  }
}

.button-on-edit {
  background: #61DAFB;
}

.button-disable {
  color: #aaa;
  background: #444;
  cursor: default;
  &:hover {
    color: #aaa;
    background: #444;
    cursor: default;
  }
}

.input-add {
  display: block;
  position: absolute;
  top: -32px;
  right: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-title-edit {
  height: 80%;
  outline: 0;
  background: #222;
  color: #fff;
  border: none;
  border-bottom: 1px solid #61DAFB;
}

.v-space {
  margin-top: 3px;
  margin-bottom: 3px;
}

.options {
  margin-left: 4px;
  margin-right: 4px;
  color: #000;
  outline: 0;
  border: none;
  padding: 3px 10px;
  border-radius: 2px;
}