.list-font {
  font-family: monospace;
  font-size: 15px;
  margin: 5px 0;
  color: #ccc;
}

.edit-group {
  padding-left: 10px; 
}

.edit-button {
  padding: 0 5px;
}

.edit-button-del {
  color: red;
}

.edit-button-add {
  color: green
}