.nav-container {
  position: relative;
  height: 50px;
}
.nav-right {
  text-align: right;
  height: 50px;
  line-height: 50px;
  padding-right: 5px;
  background: #111;
  a {
    color: #eee;
    &:hover {
      cursor: pointer;
    }
  }
  span {
    color: #666;
  }
}
.nav-left {
  text-align: left;
  height: 50px;
  line-height: 50px;
  padding-right: 5px;
  background: #111;
  a {
    color: #eee;
    &:hover {
      cursor: pointer;
    }
  }
  span {
    color: #666;
  }
}

.nav-item {
  margin: 10px;
}

.nav-home {
  font-size: 16px;
  font-weight: bold;
}